@tailwind base;
@tailwind components;
@tailwind utilities;

.main-content {
  max-width: 1300px;
  margin: 0 auto;
}
.rebajas-total-container {
  position: relative;
}
.dimanic-item-content {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(28, 100, 242);
}

.hover-info-rebajas {
  position: absolute;
  background-color: transparent;
  top: -2px;
  right: -15px;
}
.hover-info-rebajas:hover {
  background-color: transparent !important;
}
.hover-info-rebajas span {
  padding: 0;
  background: transparent;
}
.hover-info-rebajas span svg {
  color: black;
}

.totales-container {
  background-color: #AC94FA;
  padding: 20px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
}
